In [1]:
print("Hello World") #std output

Hello World

In [3]:
'''
this is not a comment
it is a multi- line string
'''

'\nthis is not a comment\nit is a multi- line string\n'

LITERALS

In [6]:
a = 10 #integer
print("type of a = "+str(type(a)))
b = 3.14 #float
print("type of b = " +str(type(b)))
c = 6+9j #complex
print("type of c = " +str(type(c)))
d = "string"
print("type of d = " +str(type(d)))

type of a = <class 'int'>
type of b = <class 'float'>
type of c = <class 'complex'>
type of d = <class 'str'>

VARIABLES
>can start with "-" or "a-z" or"A-Z" 
>can have "0-9" in the rest of the body of the name

Arithmetic operators

In [17]:
a = 10
b = 5

print("a + b = " + str(a+b))
print("a - b = " + str(a-b))
print("a * b = " + str(a*b))
print("a / b = " + str("%0.4f"%(a/b)))
print("a % b = " + str(a%b))
print("a // b = " + str(a//b))
print("a ** b = " + str(a**b))

a + b = 15
a - b = 5
a * b = 50
a / b = 2.0000
a % b = 0
a // b = 2
a ** b = 100000