DATA STRUCTURES
>CRUD: Create, Read, Update, Delete

PRIMARY DS:
> Integer
> Float
> Bool
> String
> Complex

DERIVED DS:
> Lists
> Tuple
> Dictionary
> Sets

*Optimization on memory allocation in python works only for -5 to 256. Beyond that range all the variables are allocated different memory spaces*

***STRINGS***
> Collection of Characters from UTF-8 (but is safe to assume it works fine with referance to ASCII)
>>String is an immutabe DS

In [9]:
a = "STRING"
#a = 'STRING'
#a = '''STRING'''
a

'STRING'

In [12]:
#ord and chr gives the ASCII value and equivalent char respectively
print(ord('c'))
print(chr(65))

99
A

OPERATIONS ON STRING

In [13]:
a, b, c = 1, 2, 3

In [19]:
print("%d - %d - %d" %( a, b, c))#restriced to all inputs as integers

1 - 2 - 3

In [24]:
print(f"{a}-{b}-{c}")#my method best method XD
print("{1}-{0}-{2}".format(a, b, c))

1-2-3
2-1-3

In [29]:
a = "       lol xD      "

In [30]:
#to remove the white spaces we use strip function
print(a.strip())

lol xD

In [34]:
a.split()

['lol', 'xD']

In [35]:
#since string is immutabe we use methods like replace()
a.replace('l', 'p')

'       pop xD      '

In [40]:
a.count('l') #can use string of larger length - useful for pi function

2

LISTS
> Ordered Data
>> Mutable DS
>>>Accessed using index
>>>>Heterogeneous (Homogeneous recommended)

In [82]:
l = [] #empty
l = [1, 2, 3, 4, 5] #int list(homo XD)
print(l[0]) #access using index
l.append(6) #mutable
l.append("cools") #heterogeneous
print(l)

1
[1, 2, 3, 4, 5, 6, 'cools']

In [52]:
b = ['cool', 'no doubt']
print(l + b)
b*3#only with self

[1, 2, 3, 4, 5, 6, 'cools', 'cool', 'no doubt']

['cool', 'no doubt', 'cool', 'no doubt', 'cool', 'no doubt']

*indexing and slicing*

In [56]:
print("Third last emement : " +str(l[-3]))
#indexing

Third last emement : 5

In [62]:
print(l[2:5])
#slicing, can be used with back indexing as well
print(l[1:5:3])
#slicing with step 3

[3, 4, 5]
[2, 5]

In [65]:
#most elegant way to reverse a string
l[::-1]
#best way to check palindrome
if l == l[::-1]:
    print('y')
else:
    print('n')

n

In [74]:
#insert method
l.insert(5, 'toit')
l # note rest of the string shifts

[1, 3, 4, 'toit', 'toit']

In [83]:
#basic append and delete
l.append("no doubt")
l.pop() #removes last element
l.pop(4) #pops the 4th index
l.remove(2) #removes firt occurance of 2
del l #completely deletes the list if index not provided

In [86]:
#sorting
print(sorted(b)) #returns a new string
print(b.sort()) #returns none but sorts the original list

['cool', 'no doubt']
None

In [87]:
#frevresed
for i in reversed(b):
    print(i)

#or b.reversed()

no doubt
cool

TUPLES
> Ordered DS
>> Immutable: thus fast and efficient
>>> Accessed using index
>>>> Heterogeneous

In [90]:
t = (1, 2, 3, 4, 5, 'hii', 'supp')

In [93]:
print(t[2]) #access via index
t.append(6) #observe the error --> tuples are immutable

3

In [95]:
def func(*args):
    print(args)
func("yooo", "boii", 1, 2) #notice that output is a tuple

('yooo', 'boii', 1, 2)

In [101]:
#swapping values of 2 variables using tuples --> only for int --> else use clasical approach of using temp or xor
a = 1, 2 #if not () then it assumes as tuple
c, d = a #using the python unpacking to assign values
print(c, d)
c, d = d, c #one line swap without variable
print(c, d)

1 2
2 1

In [105]:
#list to tuple 
l = list(a)
print(l)
l = tuple(l)
l
#we can also use tuple iterable to convert to list

[1, 2]

(1, 2)

In [111]:
def addSubtract (a, b):
    return a+b, a-b #returning multiple values
print(addSubtract(10, 5)) #NOTE the output is a tuple
sum, diff = addSubtract(6, 3)
print(sum, diff) # used tuple destructuring

(15, 5)
9 3

DICTIONARIES
>Stores data in key-value pair
>>order of data store is not maintained
>>>accessed by using key

In [1]:
d = {
    "name": "hi",
    "ph no": 51,
    "friends": {
        "do not exist": 100,
        "exist": 0
    }
}

In [2]:
for item in d.items():
    print(item)

('name', 'hi')
('ph no', 51)
('friends', {'do not exist': 100, 'exist': 0})

In [3]:
#other methods include d.keys(), d.get()  <- safe method, d.clear()

In [5]:
students = []
for n in range(int(input())):
    roll = int(input())
    name = input()
    branch = input()
    students.append({
        "roll-no" : roll,
        "name" : name,
        "branch" : branch
    })#keys can be any immutabe ds i.e. list cannot be used

SETS
>unordered DS
>>it not meant to be iterated
>>>unique collection of items (no duplicates)

In [8]:
s = {1, 2, 3, 3, 4}
s

{1, 2, 3, 4}

In [10]:
#to create empty set, we use set() function

In [11]:
t = {2, 4, 3, 6}

In [12]:
s.intersection(t)

{2, 3, 4}

In [13]:
s.union(t)

{1, 2, 3, 4, 6}

In [14]:
s-t

{1}

In [17]:
len(s) #wont change and also will always be arranged in ascending order

4

In [19]:
#de-duplication 
p = [1, 3, 3, 6, 3, 2, 5]
list(set(p))

[1, 2, 3, 5, 6]

COMPREHENSION

In [20]:
#classical approach
a = []
for i in range(10):
    a.append(i**2)

In [21]:
#comprehensive approach
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [22]:
#for filtering even numbers only
[i**2 for i in range(10) if i%2 == 0]

[0, 4, 16, 36, 64]

In [23]:
#works on dictionary as well
{i: i**2 for i in range(10) if i%2 != 0}

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [24]:
#for sets
{i**2 for i in range(10) if i%2 != 0}

{1, 9, 25, 49, 81}

In [25]:
#tuple comprehension is not possible, its called generator expression