In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("D:\VS\Coding-Blocks-ML\Air Quality Check Challenge\data\Train.csv")

In [4]:
df.head()

   feature_1  feature_2  feature_3  feature_4  feature_5     target
0   0.293416  -0.945599  -0.421105   0.406816   0.525662 -82.154667
1  -0.836084  -0.189228  -0.776403  -1.053831   0.597997 -48.897960
2   0.236425   0.132836  -0.147723   0.699854  -0.187364  77.270371
3   0.175312   0.143194  -0.581111  -0.122107  -1.292168  -2.988581
4  -1.693011   0.542712  -2.798729  -0.686723   1.244077 -37.596722

In [5]:
df.shape

(1600, 6)

In [6]:
df.dropna(axis=0, how='all', inplace=True)
df.shape

(1600, 6)

In [12]:
X = df[['feature_1', 'feature_2', 'feature_3', 'feature_4', 'feature_5']]
y = df['target']
print(X.shape, y.shape)

(1600, 5) (1600,)

In [13]:
from sklearn.linear_model import LinearRegression

In [14]:
LR = LinearRegression()

In [15]:
LR.fit(X, y)

LinearRegression()

In [16]:
LR.coef_

array([29.68187118, 92.66247759,  8.28062089, 44.76773522,  2.51916121])

In [17]:
LR.intercept_

4.990966735574959

In [23]:
LR.score(X, y)

0.9660939669975617

In [24]:
X_test = pd.read_csv("D:\VS\Coding-Blocks-ML\Air Quality Check Challenge\data\Test.csv")
X_test.head()

   feature_1  feature_2  feature_3  feature_4  feature_5
0   1.015254   2.076209  -0.266435  -2.418088  -0.980503
1  -0.375021   0.953185   0.626719   0.704406  -0.355489
2  -1.024452   0.962991  -0.407942  -1.861274   0.455201
3  -2.489841   0.544802   0.601219  -0.607021  -1.314286
4  -0.384675  -0.833624   1.358552  -0.547932   0.411925

In [42]:
y_test = LR.predict(X_test)

In [43]:
heading = ['Id', 'target']

In [44]:
y_test = pd.DataFrame(y_test)

In [45]:
y_test

              0
0    114.583689
1    118.012815
2    -21.739852
3    -43.936899
4    -95.914898
..          ...
395  -81.989000
396 -186.032535
397  125.292336
398   65.369841
399   57.059691

[400 rows x 1 columns]

In [48]:
y_test.to_csv("Prediction.csv")